#outer {
  width: 95%;
  background-color: #5fc7ea;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px 0px #2b3033;
}
#outer .cardStyle {
  width: 100%;
  background-color: #fff;
  display: table;
  margin-bottom: 2.5px;
  border-radius: 5px;
  padding-left: 5px;
}
#outer .labelStyle {
  color: #2b3033;
  font-size: calc(4vw + 4vh + 2vmin);
  margin-left: 1px;
}
@media screen and (min-width: 1200px) {
  #outer .labelStyle {
    font-size: 40px;
  }
}

#outer .reading {
  margin-top: 10px;
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  font-size: calc(7px + 0.9vw);
}

@media screen and (min-width: 1200px) {
  #outer .reading {
    font-size: 15px;
  }
}
#outer #buttonSearch {
  background-color: #0065a6;
  color: aliceblue;
  margin: 0;
  width: 45px;
  height: 44px;
  border-radius: 10px 10px 10px 10px;
  margin-left: -40px;
}
#outer #buttonSearch #search {
  width: 15px;
  height: 15px;
}
#outer input[type="text"] {
  width: 50vw;
  padding: 11px;
  outline: none;
  border: 2px solid #999999;
  border-radius: 10px 10px 10px 10px;
  font-family: Cambria, Cochin, Georgia, serif;
  font-size: 16px;
  margin: 0 auto;
}
#searchForm {
  width: 90%;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
}
#outer .sidebar {
  grid-area: sidebar;
}

#outer .content {
  grid-area: content;
}

#outer .header {
  grid-area: header;
}

#outer .wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 40% 60%;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "header  header  "
    "sidebar content ";
  color: #444;
}

#outer.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

#outer h1 {
  color: #fff;
}

#outer .header {
  border-width: thin;
  padding-left: 10px;
}

#outer .overlay {
  grid-column: content-start;
  grid-row: header-start / content-end;
}

#outer .sidebar .jlpt {
  background-color: #0d3ab4b0;
  border-radius: 7px;
  padding: 5px;
  color: aliceblue;
  margin-left: 5px;
}

#outer .sidebar .common {
  background-color: #0db437;
  border-radius: 7px;
  padding: 5px;
  color: aliceblue;
  margin-left: 5px;
}

#outer .sidebar .tags {
  background-color: #b40d4da1;
  border-radius: 7px;
  padding: 5px;
  color: aliceblue;
  margin-left: 5px;
}
