#flyoutMenu {
  width: 150px;
  height: 98vh;
  background-color: #0065a6;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 10px 0px 0px 10px;
  transform: translate3d(+390px, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  box-shadow: 5px 5px 25px -2px #2b3033;
  overflow: auto;
  padding-top: 10px;
  padding-left: 5px;
}
#navHeader {
  width: 100%;
  height: 40px;
  border-radius: 15px 15px 15px 15px;
}

#flyoutMenu h1 {
  color: #e9f1f3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#backButton {
  width: 100%;
  height: 40px;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: 5px 5px 25px -2px #2b3033;
  box-shadow: 5px 5px 25px -2px #2b3033;
}

#navHeader:hover {
  background-color: aliceblue;
}

#navContent {
  text-align: center;
}

#flyoutMenu h4 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
}
#flyoutMenu ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
#flyoutMenu ul li {
  list-style-type: none;
}

.pictureContainer {
  height: 140px;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  float: left;
  padding: -10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: ccontain, coverover;
}
.pictureContainer:hover {
  background-color: #c1d6e2;
  border-radius: 30px;
}
/*
.pictureContainer img {
  height: 130px;
  width: 125px;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.8s ease-in-out;
}
.pictureContainer img:hover {
  transform: translate3d(145px, 0px, 0px);
}
*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1d6e2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c1d6e2;
}
