#kMain {
  padding-top: 20px;
  font-size: 85px;
  text-align: center;
}
#outerKanji .row {
  background-color: #fff;
  text-align: left;
  padding: 20px;
  margin-bottom: 3px;
  border-radius: 5px;
}

#outerKanji * {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="#outerKanji col-"] {
  float: left;
}

#outerKanji .col-1 {
  width: 33.33%;
}
#outerKanji .col-2 {
  width: 33.33%;
}
#outerKanji .col-3 {
  width: 50%;
}
#outerKanji .col-4 {
  width: 41.66%;
}
#outerKanji .col-5 {
  width: 100%;
}

.row h4 {
  padding: 0;
}

.imageContainer {
  width: 100%;
  text-align: center;
}

.imageSvg {
  display: inline-block;
  border-style: solid;
  margin: 5px;
  border-width: thin;
}

#strokeLabel {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  #outerKanji .col-3 {
    width: 100%;
  }
  #outerKanji .col-1 {
    width: 100%;
  }
  #outerKanji .col-2 {
    width: 50%;
  }
}
