#outer .row {
  background-color: #fff;
  margin-bottom: 3px;
  border-radius: 5px;
}
#outer .labelStyle {
  color: #2b3033;
  font-size: calc(2vw + 2vh + 1vmin);
  margin-left: 1px;
}

#outer .reading {
  position: absolute;
  padding-left: 5px;
  padding-top: 10px;
  font-size: calc(7px + 0.9vw);
}

#outer .jlpt {
  background-color: #0d3ab4b0;
  border-radius: 7px;
  padding: 5px;
  color: aliceblue;
}

#outer .common {
  background-color: #0db437;
  border-radius: 7px;
  padding: 5px;
  color: aliceblue;
}

#outer .tags {
  background-color: #b40d4da1;
  border-radius: 7px;
  padding: 5px;
  color: aliceblue;
}

#outer ul {
  display: block;
  list-style-type: square;
  padding-inline-start: 20px;
}

#outer .row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.col-1 {
  width: 33.33%;
}

.col-2 {
  width: 40.33%;
}

.col-3 {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  #outer .labelStyle {
    font-size: 40px;
  }
  .col-2 {
    width: 58.33%;
  }
}
