#outer #buttonSearch {
  margin: 0;
  width: 50px;
  height: 42px;
  border-radius: 0px 10px 10px 0px;
  margin-left: -50px;

  border: 0;
  background: 0;
  padding: 0.5em;
  color: #171717;
}
#outer #buttonSearch #search {
  width: 15px;
  height: 15px;
}
#outer input[type="text"] {
  width: 65vw;
  padding: 15px 15px 15px 15px;
  outline: none;
  border: none;
  border-radius: 20px 20px 20px 20px;
  font-family: Cambria, Cochin, Georgia, serif;
  margin: 0 auto;
}
#searchForm {
  width: 90%;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
}

#outer h1 {
  color: #fff;
}

#outer .header {
  border-width: thin;
  padding-left: 10px;
}
